In [39]:
                        # WEEK 5
#                  Tuples                 
# we can't directy list in string , we can do list of string 

# in tuple one we declare then we can't add new data like we did in list watch the error 

city = ('Islamabad ','Capital of Pakistan','Karachi','Ciy of Light')
print(city) 

city[0] = 'lahore'
print(city)

('Islamabad ', 'Capital of Pakistan', 'Karachi', 'Ciy of Light')

TypeError: 'tuple' object does not support item assignment

In [17]:
                        # for loop 
# if we want to print same word multiple time then we use for loop

# this is List 
cities = ['karachi','larkana','Kamber']

# we use for loop for print 
for a in  cities:
    print("cities_pk =" ,a)

#cities_tuples
cities_tup = ('karachi','larkana','Kamber',"Lahore")

for a in  cities_tup:
    print("\ncities_pk =" ,a)

cities_pk = karachi
cities_pk = larkana
cities_pk = Kamber

cities_pk = karachi

cities_pk = larkana

cities_pk = Kamber

cities_pk = Lahore

In [18]:
                    # using range

# we use for loop in range to print number 1 to 9 
for a in range (1,10):
    print("cities_pk =" ,a)
    
# we use for loop in range to that print alternative like 1,3,5,7,9 
for a in range (1,10,2):
    print("\mcities_pk =" ,a)

# we use want that number which print every 5 number so here we have 1  6 after 6 we 
# can't get the number beacuse we assign the value (1,10)
for a in range (1,10,5):
    print("\ncities_pk =" ,a)

cities_pk = 1
cities_pk = 2
cities_pk = 3
cities_pk = 4
cities_pk = 5
cities_pk = 6
cities_pk = 7
cities_pk = 8
cities_pk = 9
\mcities_pk = 1
\mcities_pk = 3
\mcities_pk = 5
\mcities_pk = 7
\mcities_pk = 9

cities_pk = 1

cities_pk = 6

In [24]:
cities = ['Islamabad','karachi','larkana','Kamber'] # list
cities_tup = ('karachi','larkana','Kamber',"Lahore") # tuple

# we range 
for a in range(4) :
                #OR 
#for a in range(len(cities)):
# it print number of cities through it lenght
    print("cities_pk =" ,cities[a])

cities_pk = Islamabad
cities_pk = karachi
cities_pk = larkana
cities_pk = Kamber

In [47]:
                    # if else and for loop
    
    
cities = ['Islamabad','Karachi','larkana','Kamber'] # list
cities_tup = ('Karachi','larkana','Kamber',"Lahore") # tuple
city_of_light = "Karachi"
# we range 
for a in range(4) :
    if city_of_light == cities[a]:
        print("cities_pk Found =" ,cities[a])
    else:
        print("not found")

        # case senstive matther we can solve this problem by .lower(), .upper() , .title(). like below example
        # city_of_light = "KArachi" here KArachi is not in (list)cities or in(tuple)cities_tup therefore it 
        #it give you error that why use of .lower(), .upper() , .title() to ignore the senstivtive case. 
        
                         #  IN .lower()
city_of_light = "KArachi"
# we range 
for a in range(4) :
    if city_of_light.lower() == cities[a].lower():
        print("cities_pk Found| =" ,cities[a])
    else:
        print("not found in lower case")
    
                         #  IN .UPPER()
city_of_light = "KArachi"
# we range 
for a in range(4) :
    if city_of_light.lower() == cities[a].lower():
        print("cities_pk Found =" ,cities[a])
    else:
        print("not found in UPPER case")
        
                                 #  IN .TITLE()
city_of_light = "KARachi"
# we range 
for a in range(4) :
    if city_of_light.lower() == cities[a].lower():
        print("cities_pk Found =" ,cities[a])
    else:
        print("not found in TITLE case")

not found
cities_pk Found = Karachi
not found
not found
not found in lower case
cities_pk Found| = Karachi
not found in lower case
not found in lower case
not found in UPPER case
cities_pk Found = Karachi
not found in UPPER case
not found in UPPER case
not found in TITLE case
cities_pk Found = Karachi
not found in TITLE case
not found in TITLE case

In [45]:
                    # break: keyword it is statement
    #break : if we find the require answer then it break that loop where it found
    
cities = ['Islamabad','Karachi','larkana','Kamber'] # list
cities_tup = ('Karachi','larkana','Kamber',"Lahore") # tuple
city_of_light = "Karachi"
# we range 
for a in range(4) :
    if city_of_light == cities[a]:
        print("cities_pk Found =" ,cities[a])
        break
    else:
        print("not found")

not found
cities_pk Found = Karachi

In [46]:
                    # Continue: keyword it is statement
    #Continue: if we find the require answer after that run Continue it does't matter we found the data or not 
    # it runs
    
cities = ['Islamabad','Karachi','larkana','Kamber'] # list
cities_tup = ('Karachi','larkana','Kamber',"Lahore") # tuple
city_of_light = "Karachi"
# we range 
for a in range(4) :
    if city_of_light == cities[a]:
        print("cities_pk Found =" ,cities[a])
        continue
    else:
        print("not found")

not found
cities_pk Found = Karachi
not found
not found

In [55]:
                    #Nest list

first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

print('First_name',first_names)
print('First_name',last_names)
            # merge to first_name to last name
for first_name in first_names:
    print('First_names',first_names)

for last_name in last_names:
    print('last_name =',last_names)

First_name ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
First_name ['Zzz', 'Burp', 'Dogbone', 'Droop']
First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']

In [60]:
                    #Nest list

first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

print('First_name',first_names)
print('Last_name',last_names)
            # nest for loop to first_name and last name it print first_name then last_name till the compl
for first_name in first_names:
    print('\nFirst_names',first_names)
    for last_name in last_names:
        print('last_name =',last_names)

First_name ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
Last_name ['Zzz', 'Burp', 'Dogbone', 'Droop']

First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']

First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']

First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']

First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']

First_names ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']
last_name = ['Zzz', 'Burp', 'Dogbone', 'Droop']

In [67]:
                        #Merge the last_name and first_name each 

first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

## if want to find which class we using then we simply using type
print('full_names',type(full_names))

print('First_name',first_names)
print('Lirst_name',last_names)
            
    # IN this case BlueRay internal loop FOUR TIME and External loop run one time like BlueRay has four 
    # last_name as shown in the full_name . In this case we write a second code which run internal loop one time 
    #to one first_name . below code is run this
for first_name in first_names:
    for last_name in last_names:
        full_names.append(first_name+last_name)
print('full_names',full_names)

full_names <class 'list'>
First_name ['BlueRay ', 'Upchuck ', 'Lojack ', 'Gizmo ', 'Do-Rag ']
Lirst_name ['Zzz', 'Burp', 'Dogbone', 'Droop']
full_names ['BlueRay Zzz', 'BlueRay Burp', 'BlueRay Dogbone', 'BlueRay Droop', 'Upchuck Zzz', 'Upchuck Burp', 'Upchuck Dogbone', 'Upchuck Droop', 'Lojack Zzz', 'Lojack Burp', 'Lojack Dogbone', 'Lojack Droop', 'Gizmo Zzz', 'Gizmo Burp', 'Gizmo Dogbone', 'Gizmo Droop', 'Do-Rag Zzz', 'Do-Rag Burp', 'Do-Rag Dogbone', 'Do-Rag Droop']

In [11]:
                        #Merge the last_name and first_name each 

first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []

## if want to find which class we using then we simply using type
print('full_names',type(full_names))

        # now we mapping or merge one last_name and one first_name  we use # range funtion
    
                    # NOTE
        # In range if we want to print two list or two factor then the value of two list must be equal like 
        # list one has 3 value then list two must have 3 value if not . then there will be error accour
        # In this question we have more then four value in first_name but in last_name we have one therefore either 
        # we delete the value which is above then the last_name value or we add new value to last_name
for i in range (len(first_names)):
    print('i',first_names[i])
    print('Last',last_names[i])
    # we we mapping the both 
    full_names.append(first_names[i]+last_names[i])
print(full_names)

full_names <class 'list'>
i BlueRay
Last Zzz
i Upchuck
Last Burp
i Lojack
Last Dogbone
i Gizmo
Last Droop
['BlueRay Zzz', 'Upchuck Burp', 'Lojack Dogbone', 'Gizmo Droop']

In [17]:
                            # Table  example of loop of range
    
for i in range (0,11):
    print("2 x ",i," =" , i*2)

2 x  0  = 0
2 x  1  = 2
2 x  2  = 4
2 x  3  = 6
2 x  4  = 8
2 x  5  = 10
2 x  6  = 12
2 x  7  = 14
2 x  8  = 16
2 x  9  = 18
2 x  10  = 20

In [20]:
                # table in f =format stirng
    
for i in range (0,11):
    print(f"2 x{i} = {i*2}")

2 x0 = 0
2 x1 = 2
2 x2 = 4
2 x3 = 6
2 x4 = 8
2 x5 = 10
2 x6 = 12
2 x7 = 14
2 x8 = 16
2 x9 = 18
2 x10 = 20

In [21]:
                        # our first libery random 

import random
print(random.randint(10,90))
# randint generate random number

54

In [38]:
# how to add random number in list 

import random 
lists = []
lists.append(random.randint(0,800))
lists.append(random.randint(0,800))
lists.append(random.randint(0,800))
lists.append(random.randint(0,800))
lists.append(random.randint(0,800))


print(lists)

[361, 30, 652, 698, 285]

In [31]:
# how to add random number in list

cities_pk = karachi
cities_pk = larkana
cities_pk = Kamber