In [2]:
                        #if_elif Topic Chapter 11
subject_1 = int(input('Enter the subject Mark 1 ='))
subject_2 = int(input('Enter the subject Mark 2 ='))
subject_3 = int(input('Enter the subject Mark 3 ='))
subject_4 = int(input('Enter the subject Mark 4 ='))
subject_5 = int(input('Enter the subject Mark 5 ='))
Total_Marks = subject_1 + subject_2 + subject_3 + subject_4 + subject_5
percentage  = Total_Marks / 500 * 100
print('Total_Marks = ', Total_Marks)

if percentage > 90:
    print('You got A1')
elif percentage > 80 :
    print('You got A')
elif percentage > 70 :
    print('You got B')
elif percentage > 60 :
    print('You got C')
else :  
    print('attempt again ')

Enter the subject Mark 1 =80
Enter the subject Mark 2 =80
Enter the subject Mark 3 =809
Enter the subject Mark 4 =90
Enter the subject Mark 5 =90
Total_Marks =  1149
You got A1

In [3]:
                        # NEST_IF TOPIC CHAPTER 12
x = input('Enter x :  ')
y = input('Enter y :  ')

a = input('Enter a :  ')
b = input('Enter b :  ')
c = input('Enter c :  ')
d = input('Enter d :  ')
f = input('Enter f :  ')
h = input('Enter h :  ')


if c == d :
    if x == y or a == b:
        g = h 
        print( ' Inside c == d and ( x== y or a== b )')
    else :
        e = f 
        print( ' Inside c == d but not ( x== y or a== b )')
else : 
    e = f
    ( ' inside else')

Enter x :  3
Enter y :  4
Enter a :  5
Enter b :  6
Enter c :  4
Enter d :  54
Enter f :  3
Enter h :  3

In [50]:
                            # 15 list
temp=[32,34,45,56,23]
print('Temperatures = ', temp)

# this Below program replace the temperture on place on 2 
temp[2] = 60
print('Replaced number is = ',temp)

# this Below program add the new temperature 
temp.append( -90 )
print('add the new temperature = ',temp)

# this Below program. if we want a particuler temperature  
temp
print('add the new temperature on the place of 1 =',temp[1])
print(temp[3])
print(temp[5])

# in python hertogenic data store  ,it mean we insert number or string in a single statement
#example
# temp_list =[10,"pakistan,true"]

#we have to remember that we calcluate value by n-1 like we want to find 6 value to above we put 7 than we find 6
print(temp[-4])
#this is inverse section

Temperatures =  [32, 34, 45, 56, 23]
Replaced number is =  [32, 34, 60, 56, 23]
add the new temperature =  [32, 34, 60, 56, 23, -90]
add the new temperature on the place of 1 = 34
56
-90
60

In [48]:

# we are create city temperature and then add two differnt city temp in one list
karachi = [ 24,25,26,27,32]
lahore = [ 34,35,36,37,38]
temp_pk_city = karachi+lahore
print('temp = ',temp_pk_city)

[20, 23, 25, 26, 29, 30, 34, 30, 40, 38]

In [35]:
# creating list in list
temp = [1,2,3,[11,12,13,14,15],4,5,6]
print (temp)

#recalling list value
print(temp[2])
#recalling list and it sub list [3] is the first list index [2] is the sub list index
print(temp[3][2])

[1, 2, 3, [11, 12, 13, 14, 15], 4, 5, 6]
3
13

In [36]:
temp = [1,2,3,[11,12,13,14,15],4,5,6]
#add new value this is point that we add 1 value or we add list , we can't add 2 value 
#like this temp.appand(7,8,9,10) this will show an error 
#therefore 
temp.append(7)
print(temp)

[1, 2, 3, [11, 12, 13, 14, 15], 4, 5, 6, 7]

In [37]:
#we can add new list after use of []
temp.append([22,23,24,25])
print(temp)

[1, 2, 3, [11, 12, 13, 14, 15], 4, 5, 6, 7, [22, 23, 24, 25]]

In [38]:
#if we want to add value not adding list so use use .extend it insert the value which want put
temp.extend([8,9,10,11,12])
print(temp)

[1, 2, 3, [11, 12, 13, 14, 15], 4, 5, 6, 7, [22, 23, 24, 25], 8, 9, 10, 11, 12]

In [39]:

# for finding what is place of inex 3
print(temp.index(6)) #which is on the place of 2

6

In [40]:
#for remove index we use

print(temp.remove(9))

#pop if you don't give index address then pop remove last index
print(temp.pop)# which drop 9

None
<built-in method pop of list object at 0x7f860bc21d80>

In [47]:
                # Summary
#for remove index we from sub list which is([6,7,8,9])

num = [11,12,13]
print(num)
print(num[2])

#adding one index 14
num.append(14)
print(num)

#adding list 
num.append([15,16,17])
print(num)
#finding sub list value like this [11, 12, 13, 14, [15, 16, 17]]
print(num[4][1])

#adding index trough use of extend
num.extend([18,19])
print(num)

#INSERT NEW VALUE
num.insert(9,20)
print(num)

[11, 12, 13]
13
[11, 12, 13, 14]
[11, 12, 13, 14, [15, 16, 17]]
16
[11, 12, 13, 14, [15, 16, 17], 18, 19]
[11, 12, 13, 14, [15, 16, 17], 18, 19, 20]

In [58]:
cities = ["Karachi" ,"Qamber" ,"Larkana","Sukker"]

cities_tup =("Karachi" ,"Qamber" ,"Larkana","Sukker")

city_of_light = "Karachi"

for C in range(len(cities)):
    if city_of_light == cities[C]:
        print("Found")
    else :
        print("not Found")

Found
not Found
not Found
not Found

In [57]:
# IN this example we are going to find city and if the city will found then it will brack on the spot

cities = ["Karachi" ,"Qamber" ,"Larkana","Sukker"]

city_of_light = "Karachi"
city_of_beauty= "Sukker"

for C in range(len(cities)):
    if city_of_light.lower() == cities[C].lower():
        print("Found")
        break
    elif  city_of_beauty == cities_tup:
        print("Found")
        break
    else :
        print("not Found")

Found

In [1]:

                        #Type your answer here.
                            #EXERICE

sami
Welcome on board 007

In [2]:
#Write an if statement that asks for the user's name via input() function. 
#If the name is "Bond" make it print "Welcome on board 007."
# Otherwise make it print "Good morning NAME". (Replace Name with user's name)

#Type your answer here.
name=input()
if name  == "Bond":
    print("Welcome on board 007")
else :
    print("Good morning Name"+name)

sami
Welcome on board 007

In [6]:
#Do the same thing as exercise 7-a 
#this time making sure if the name is bond with lower case b it still prints "Welcome on board 007."
name=input()
if name.lower()  == "bond":
    print("Welcome on board 007")
else :
    print("Good morning Name")

BOND
Welcome on board 007

In [1]:
#Write a function named "evens" which returns True if a number is even and otherwise returns False.

#Type your code here.


#Type your code here.


def evens(i):
    if i % 2 == 0:
        return True
    else:
        return False

print(evens(99))
print(evens(98))

False
True